*{
    padding: 0;
    margin: 0;
}
html, body{
box-sizing: border-box;
font-family: 'Poppins';
display: flex;
flex-direction: column;
align-items: center;
}
header{
    width: 50vw;
}
header .start{
    display: flex;
    justify-content: space-between;
    color: #2761da;
    font-weight: 600;
    font-size: 13px;
    padding: 10px 10px;
}
header .search{
    
    display: flex;
    justify-content: space-between;
}
header .search .search-content{
    position: relative;
    background-color: #f4f4f4;
    border-radius: 5px;
    overflow: hidden;
    
}
header .search .search-content i{
    position: absolute;
     right: 10px;
    top: 50%;
    font-size: 10px;
    padding-right: 5px;
    transform: translateY(-50%);
}
header .search .search-content input{
    border: none;
    background-color: transparent;
    width: 270px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}
header .search > p{
    background-color: #f4f4f4;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    
}
header .search > p{
    background-color: #f4f4f4;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
}

main{
    width: 50vw;
    padding: 5px 20px;
}
main .play{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    padding: 15px 10px;
}
main .play h1{
    font-size: 20px;
}
main .play p i{
    font-size: 50px;
    color: rgb(71, 168, 237);
}
main .about{
    padding: 30px 5px 0 20px;
    font-size: 12px;
}
main .about ul li{
     color: #5c80dd;
}
main .about ul li span{
     font-weight: 600;
}
main .about ul li p{
     color: #000;
     text-align: justify;
}
main .about > p{
    padding: 20px 0 20px 0;
    font-weight: 600;
    color: #8f9296;
}
main p span{
    color: #2761da;
    font-weight: 600;
}
hr{
    border: 1px solid #f2f2f2;
}
footer{
    width: 50vw;
    padding: 5px 0 0 40px;
}
footer p{
    color: #8f9296;
    font-size: 10px;
    font-weight: 500;
}